body{
  background-image: url('https://res.cloudinary.com/deeptailor/image/upload/v1479596947/network-background_evo9bs.png');
  background-size: contain;
  font-family: 'Raleway', sans-serif;
}

.top-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background-color: rgba(255,255,255, 0.8);
}

.top-div > h1 {
  font-size: 72px;
  padding: 20px;
}

.top-div > h2 {
  font-size: 32px;
}

.last-name{
  padding:  0 10px;
  color: #1453ad;
}

.contact-me{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 300px;

}

.contact-me > a > img {
  height: 25px;
}

.portfolio-div{
  color: white;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-div-inner{
  padding: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.portfolio-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio-div-inner > h1{
  padding:20px 20px 0 20px;
  font-size: 46px;
}

.portfolio-project1-outer{
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 130px 0 40px 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}

.portfolio-project1-outer > a > img{
  width: 450px;
}

.project-description{
  width: 40%;
}

.project-description > h1{
  font-size: 40px;
  margin-bottom: 20px;

}

.technology-used{
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.technology-used > h3{
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 5px 5px 0;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
}


.about-div{
  background: rgba(255,255,255,0.8);
  color: black;
  display: flex;
  justify-content: center;
  padding: 55px 40px;
}

.about-outer-container{
  width: 80%;
}

.about-outer-container > h1{
  font-size: 46px;
}

.about-container{
  display: flex;
  padding: 40px 0;
  margin-top: 50px;
}

.photo-container > img {
  height: 400px;
  border-radius: 15px;
}

.about-me{
  display:flex;
  width: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  margin-left: 40px;
}
